html,
body {
  font-family: "Trebuchet MS", Arial, sans-serif;
}

/* -------- homepage  -------- */

.homepage {
  padding: 10px !important;
}

.debug {
  background-color: grey;
}

/* -------- blog post -------- */

.blog-post {
  margin: 10px 5px 10px 5px;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(245, 245, 245);
  border-radius: 5%;
}

.post-element {
  margin: 1px 2px 1px 2px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.interaction-row {
  border-top-style: solid;
  border-width: 1px;
  align-items: center;
  justify-content: center;
}

.post-description {
  display: flex;
  align-items: flex-start;
  justify-content: left;
}

/* .post-reply {
}

.post-notification {
} */

.blog-post:nth-child(odd) {
  background-color: rgb(182, 182, 207);
}
.blog-post:nth-child(even) {
  background-color: rgb(250, 245, 227);
}

/* -------- post owner image -------- */

.blog-post .avatar-container {
  display: flex;
  justify-content: center;
  width: 80px;
}

.blog-post .image-container {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  overflow: hidden;
}

.blog-post .image-container img {
  width: 100%;
}

#link {
  text-decoration: none;
  color: rgb(46, 46, 46);
}

/* -------- news article -------- */

.news-article:nth-child(odd) {
  background-color: rgb(182, 182, 207);
}
.news-article:nth-child(even) {
  background-color: rgb(250, 245, 227);
}

/* -------- blog post -------- */

.article {
  margin: 10px 5px 10px 5px;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(245, 245, 245);
  border-radius: 5%;
}

.article-element {
  margin: 1px 2px 1px 2px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.interaction-row {
  border-top-style: solid;
  border-width: 1px;
  align-items: center;
  justify-content: center;
}

.article-description {
  display: flex;
  align-items: left;
  justify-content: center;
}

.article .avatar-container {
  width: 80px;
}

.article .image-container {
  height: 100px;
  width: 150px;
  border-radius: 25px;
  text-align: center;
  display: block;
}

.article .image-container img {
  /* margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto; */
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* -------- Post Page -------- */

.post {
  padding: 30px;
  width: 100%;
}

.post .post-container {
  width: 100%;
  display: flex;
  justify-content: left;
}

.post form {
  display: flex;
}

.post form section {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 500px;
}

.post form label {
  margin: 20px 0 0 0;
}

.post form select,
.post form input {
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  border: 1.5px solid rgb(218, 218, 218);
  margin: 5px;
}
.post form .multiple-input-container {
  margin: 20px 0 20px 0;
}

.post .description {
  height: 138px;
}

.post .section {
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  border: 1.5px solid rgb(218, 218, 218);
  margin: 5px;
  width: 490px;
}
