/* html,
body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", Arial, sans-serif;
}

.app {
  display: flex;
} */

/* -------- homepage  -------- */

/* .homepage {
  padding: 10px !important;
} */

/* -------- blog post -------- */

/* .blog-post {
  display: flex;
  width: 100%;
}

.blog-post .post-color {
  width: 15px !important;
  padding: 10px !important;
  margin: 2px;
}

.blog-post:nth-child(odd) {
  background-color: antiquewhite;
}
.blog-post:nth-child(even) {
  background-color: cornsilk;
} */

/* -------- post owner image -------- */
/* .blog-post .avatar-container {
  display: flex;
  justify-content: center;
  width: 80px;
}

.blog-post .image-container {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  overflow: hidden;
}

.blog-post .image-container img {
  width: 100%;
} */
